body{
    background: #262626;

}
.box-area{
    display: flex;
    flex-direction: row;
    flex: wrap;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100vh;
    background-color: #12808f;

}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #17241e;
    color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: -3s;
    align-items: center;
    @media (max-width: 768px){
        width: 150px;
        height: 400px;
    }
}

.img-area{
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
border: 6px solid #ddd;
border-radius: 50%;
margin-bottom: 10px;
padding: 20px;
-wekbit-background-size:cover;
/*
background-position: center center;
background-size: cover;
*/
}


.single-box:nth-child(1) .img-area{
    background-image: url(1.png);
}
.single-box:nth-child(2) 
    .img-area{
        background-image: url(2.png);
    }
.single-box:nth-child(2) {
    flex-grow: 0; }
    
/* 
    .single-box:nth-child(2) {
    flex-grow: 0; }
    .img-area{
        background-image: url(2.png);
    }
 */
.single-box:nth-child(3) .img-area{
    background-image: url(3.png);
}

.single-box :hover{
    background: #12808f;
    color: rgb(29, 9, 214);
}